<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your customer id
          is:</label>
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          <%= data.cid%>
        </label>
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">click below for home
          page</label>
        <button type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mx-4"><a
            href="/airline">Here</a></button>
      </div>
      <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
</body>
</html>